<a href="https://colab.research.google.com/github/Muskankapila016/Python-/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION ***1*** L is a list defined as L= [11, 12, 13, 14].
(i) WAP to add 50 and 60 to L.
(ii) WAP to remove 11 and 13from L.
(iii) WAP to sort L in ascending order.
(iv) WAP to sort L in descending order.
(v) WAP to search for 13 in L.
(vi) WAP to count the number of elements present in L.
(vii) WAP to sum all the elements in L.
(viii) WAP to sum all ODD numbers in L.
(ix) WAP to sum all EVEN numbers in L.
(x) WAP to sum all PRIME numbers in L.
(xi) WAP to clear all the elements in L.
(xii) WAP to delete L.

In [ ]:
l=[11,12,13,14]
print("ORGINAL LIST>>>",l)
l.append(50)
l.append(60)
print("LIST AFTER ADDING ELEMENTS IS>>>",l)

del l[0]
print("LIST AFTER DELETING 13 IS>>>",l)
del l[1]
print("LIST AFTER DELETING 14 IS>>>",l)

l.sort()
print("LIST AFTER SORTING ELEMENTS IN ASCENDING ORDER IS>>>",l)

l.sort(reverse=True)
print("LIST AFTER SORTING ELEMENTS IN DESCENDING ORDER IS>>>",l)

if(13 in l):
  print(" 13 IS PRESENT")
else:
  print("13 IS NOT PRESENT")  

print("TOTAL NUMBER OF ELEMENTS PRESENT IN LIST IS==>",len(l))

sum =0
for i in range(len(l)):
  sum=sum+l[i]
print("SUM OF ELEMENTS IN LIST IS>>",sum) 

sum=0
for i in range(len(l)):
  if l[i]%2!=0:
    sum=sum+l[i]
print("SUM OF ODD ELEMENTS IN LIST IS>>>",sum)

sum=0
for i in range(len(l)):
  if l[i]%2==0:
    sum=sum+l[i]
print("SUM OF EVEN ELEMENTS IN LIST IS>>>",sum)

def isPrime(n):
  f=0
  for i in range(2,n//2 +1):
    if n%i==0:
      f=1
  if f ==0:
   return True
  else:
    return False 

sum=0
for i in range(len(l)):
  if isPrime(l[i]):
    sum=sum+l[i]
print("SUM OF PRIME ELEMENTS IN LIST IS>>>",sum)

l.clear();
print("NOW LIST IS ",l)

del l

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i) WAP to add new entry in D; key=8 and value is 8.8
(ii) WAP to remove key=2.
(iii) WAP to check weather 6 key is present in D.
(iv) WAP to count the number of elements present in D.
(v) WAP to add all the values present D.
(vi) WAP to update the value of 3 to 7.1.
(vii) WAP to clear the dictionary.

In [ ]:
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print("AFTER ADDING>>>",D)

del D[2]
print("AFTER DELETEING>>>",D)

print("IS 6 PRESENT IN D:",6 in D)

print("NUMBER OF EELMENTS IN D:",len(D))

sum =0
for k in D:
  sum=sum+D[k]
print("SUM OF ELEMENTS:",sum)  

D[3]=7.1
print("AFTER UPDATING>>>",D)

D.clear()
print("AFTER CLEARING>>>",D)

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
(i) WAP to add 55 and 66 in Set S1.
(ii) WAP to remove 10 and 30 from Set S1.
(iii) WAP to check whether 40 is present in S1.
(iv) WAP to find the union between S1 and S2.
(v) WAP to find the intersection between S1 and S2.
(vi) WAP to find the S1 - S2

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print("S1:",S1)
print("S2:",S2)
S1.add(55)
S1.add(66)
print("AFTER ADDING..S1:",S1)

S1.remove(10)
S1.remove(30)
print("AFTER DELETING..S1:",S1)

print("IS 40 PRESENT:",40 in S1)

print("UNION OF S1 AND S2 IS ",S1.union(S2))

print("S1 - S2 = ",S1 - S2)

Q4. Write the following program.
(i) WAP to print 100 random strings whose length between 6 and 8.
(ii) WAP to print all prime numbers between 600 and 800.
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
import string as s
import random as r
print(s.ascii_letters)


for i in range(100):
  m=r.randint(6,8)
  n=r.sample(s.ascii_uppercase,m)
  n1="".join(n)
  print(n1)
  
def isPrime(n):
  f=0
  for i in range(2,n//2 +1):
    if n%i==0:
      f=1
  if f ==0:
   return True
  else:
    return False 
print("PRIME NUMBERS BETWEEN 600 AND 800 ARE")
for i in range(600,801):
  if isPrime(i):
    print(i)

print("NUMBER DIVISIBLE BY 7 AND 9 ARE")    

for i in range(100,1001):
  if i%7==0 and i%9==0:
    print(i)

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find
(i) Common numbers in the two lists

(ii) Unique numbers in both the list
(iii) Minimum in both the list
(iv) Maximum in both the list
(v) Sum of both the lists

In [ ]:
import random as r
a=[10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
set1=r.sample(a,10)#r.sample(range(10,31),10)
set2=r.sample(a,10)
print("SET1:",set1)
print("SET2:",set2)

print("Common numbers in the two lists:",list(set(set1).intersection(set(set2))))

print("MINIMUM IN SET1:",min(set1))
print("MINIMUM IN SET2:",min(set2))

print("MAZIMUM IN SET1:",max(set1))
print("MAXIMUM IN SET2:", max(set2))

sum1=0
sum2=0
for i in range(10):
  sum1=sum1+set1[i]
  sum2=sum2+set2[i]
print("SUM OF SET1 AND SET 2:",sum1+sum2 )

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers

In [ ]:
list1=r.sample(range(100,900),100)

print("LIST1:",list1)


sum=0
count=0
for i in range(len(list1)):
  if list1[i]%2!=0:
    sum=sum+list1[i]
    count+=1
              
print(f"SUM OF {count} ODD ELEMENTS IN LIST IS>>>{sum}")

sum=0
count=0
for i in range(len(list1)):
  if list1[i]%2==0:
    sum=sum+list1[i]
    count+=1
              
print(f"SUM OF {count} EVEN ELEMENTS IN LIST IS>>>{sum}")

def isPrime(n):
  f=0
  for i in range(2,n//2 +1):
    if n%i==0:
      f=1
  if f ==0:
   return True
  else:
    return False 

sum=0
count=0
for i in range(len(list1)):
  if isPrime(list1[i]):
    sum=sum+list1[i]
    count+=1

print(f"SUM OF {count} PRIME ELEMENTS IN LIST IS>>>{sum}")

LIST1: [392, 558, 453, 657, 651, 600, 155, 817, 189, 313, 757, 178, 510, 765, 253, 723, 485, 700, 330, 859, 292, 841, 740, 263, 271, 241, 507, 123, 157, 472, 851, 363, 676, 506, 799, 738, 891, 406, 742, 557, 375, 402, 585, 168, 580, 220, 779, 630, 306, 555, 282, 433, 836, 776, 257, 534, 704, 860, 632, 422, 414, 121, 116, 217, 562, 727, 680, 283, 394, 691, 455, 100, 792, 470, 796, 826, 516, 355, 258, 353, 265, 529, 849, 285, 563, 238, 636, 495, 312, 750, 379, 384, 541, 206, 801, 766, 219, 550, 725, 436]
LIST2: [732, 347, 488, 487, 126, 194, 889, 863, 135, 249, 140, 584, 144, 465, 518, 253, 469, 611, 861, 311, 230, 142, 275, 181, 214, 781, 422, 874, 243, 841, 869, 876, 817, 401, 564, 246, 867, 875, 190, 569, 524, 729, 430, 257, 767, 561, 845, 110, 859, 676, 195, 711, 300, 603, 456, 274, 493, 378, 778, 427, 164, 463, 812, 854, 308, 536, 320, 844, 336, 515, 828, 105, 736, 385, 837, 382, 358, 810, 262, 442, 260, 562, 628, 667, 805, 588, 307, 431, 138, 128, 816, 131, 137, 183, 156, 371, 829, 646, 294, 242]
SUM OF 50 ODD ELEMENTS IN LIST IS>>>24778
SUM OF 50 EVEN ELEMENTS IN LIST IS>>>25394
SUM OF 17 PRIME ELEMENTS IN LIST IS>>>7645

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [ ]:
d={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
file = open("Dictionary.txt","a")
for i in d:
  file.write(f"{i},{d[i]}\n")
print("WRITING DONE!!!\n OPEN Dictionary.txt TO VIEW THIS FILE")

with open("Dictionary.txt") as file:
  for line in file:
    print(line.rstrip())

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4

In [ ]:
 l=["One","Two","Three","Four","Five"]
file = open("List.txt","a")
for i in range(len(l)):
  Len=len(l[i])
  ele=l[i]
  file.write(f"{ele} {Len}\n")
  
file.close()

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [ ]:
import random as r
import string as s
file=open("RandomStrings.txt","a")
for i in range(100):
  n=r.randint(10,15)
  Str=r.sample(s.ascii_letters,n)
  file.write(f"i:{Str}\n")
file.close()

Q10. Write to the file all prime numbers between 600 and 800.

In [ ]:

def isPrime(n):
  f=0
  for i in range(2,n//2 +1):
    if n%i==0:
      f=1
  if f ==0:
   return True
  else:
    return False 
file=open("PrimeNumbers.txt","a")
for i in range(600,801):
  if isPrime(i):
    file.write(f"{i}\n")
file.close()

Q11. WAP to calculate the time taken by a program.

In [ ]:
import time as t
  
begin = t.time()
  
for i in range(5):
    print("MUSKAN")
  
end = t.time()
  
print(f"Total runtime of the program is {end - begin}")

MUSKAN
MUSKAN
MUSKAN
MUSKAN
MUSKAN
Total runtime of the program is 0.0038475990295410156

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.Number of elements in list Time Taken
50k T1
100k T2
150k T3
200k T4
250k T5

In [ ]:
import random as r
import time
L = []
# for T1
start = time.time()
for i in range(50000):
  L.append(r.randint(1,1000))
L.sort()
end = time.time()
T1 = end - start
print(T1)
# For T2
start = time.time()
for i in range(100000):
  L.append(r.randint(1,10000))
L.sort()
end = time.time()
T2 = end - start
print(T2)
# For T3
start = time.time()
for i in range(150000):
  L.append(r.randint(1,1500))
L.sort()
end = time.time()
T3 = end - start
print(T3)
# For T4
start = time.time()
for i in range(200000):
  L.append(r.randint(1,1000))
L.sort()
end = time.time()
T4 = end - start
print(T4)
# for T5
start = time.time()
for i in range(250000): 
  L.append(r.randint(1,1000))
L.sort()
end = time.time()
T5 = end - start
print(T5)

0.07320094108581543
0.1558222770690918
0.23694229125976562
0.2961463928222656
0.37708330154418945

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
having maximum and minimum average marks.

In [ ]:
d=dict()
n=int(input("ENTER THE NUMBER OF STUDENTS :"))
for i in range(n):
  name=input("ENTER STUDENT NAME : ")
  l=[]
  for j in range(5):
    marks=int(input("ENTER MARKS : "))
    l.append(marks)
  d[name]=l
print('DICTIONARY OF STUDENT CREATED')
print(d)    
sum=0
min=1000000
max=0
for k in d:
  for i in d[k]:9
    sum=sum+i
    if sum/len(d[k])>max:
      max=sum/len(d[k])
      nameMax=k
    elif sum/len(d[k])<min:
      min=sum/len(d[k])
      nameMin=k 

print("Student with maximum average ==> ",nameMax)
print("Student with min average ==> ",nameMin)

*** Write a python program to sort the list of heterogeneous data.***

In [ ]:
res1=[]
res2=[]
l=["abc","xyz",6,8,"pqr",-1,4,"a"]
for j in l:
    if(type(j)==int):
        res1.append(j)
    elif(type(j)==str):
        res2.append(j)
print("Integer list:  " ,res1)
print("String List: " ,res2)

res1.sort()
res2.sort()

print("INTIALLY THE LIST IS:",l)
print("SORTED LIST IS:",res1+res2)

Integer list:   [6, 8, -1, 4]
String List:  ['abc', 'xyz', 'pqr', 'a']
INTIALLY THE LIST IS: ['abc', 'xyz', 6, 8, 'pqr', -1, 4, 'a']
SORTED LIST IS: [-1, 4, 6, 8, 'a', 'abc', 'pqr', 'xyz']