<a href="https://colab.research.google.com/github/Muskankapila016/Python-/blob/main/SubsetProblem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find all the subsets from a set of numbers whose sum is zero.

Constraint: Subset size must be 5

1.LIBRARY INCLUSION

In [1]:
import random as r

2.PARAMETER SETTING

In [2]:
Set = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
size =5
iterations=1000
resultset=set()#unique property

3.RUN THE PROGRAM

In [3]:
for i in range(iterations):
    n=r.sample(Set,size)
    n.sort()
    if sum(n) == 0:
        resultset.add(tuple(n))
for r in resultset:
    print(r)
print("TOTAL NUMBER OF SETS:",len(resultset))

(-7, -4, 2, 3, 6)
(-12, -7, 1, 7, 11)
(-6, -5, -2, 6, 7)
(-6, -5, -2, 2, 11)
(-8, -6, 1, 6, 7)
(-7, -6, -5, 7, 11)
(-12, -2, 1, 2, 11)
(-5, -3, -2, 1, 9)
(-7, -6, 1, 3, 9)
(-7, -4, -2, 2, 11)
(-12, -8, 2, 7, 11)
(-9, -5, -2, 7, 9)
(-5, -4, -2, 2, 9)
(-8, -5, -2, 6, 9)
(-6, -4, 1, 3, 6)
(-9, -6, -3, 7, 11)
(-12, -5, -3, 9, 11)
(-8, -6, -4, 7, 11)
(-9, -8, -3, 9, 11)
(-5, -4, -3, 3, 9)
(-12, -4, 3, 6, 7)
(-6, -5, -3, 3, 11)
(-8, -7, 2, 6, 7)
(-7, -3, -2, 3, 9)
(-12, -3, -2, 6, 11)
(-9, -5, 1, 6, 7)
(-7, -3, 1, 2, 7)
(-7, -6, -2, 6, 9)
TOTAL NUMBER OF SETS: 28

Find all the subsets from a set of numbers whose sum is zero.

Constraint: Subset size must be 3 to 6 only

1.LIBRARY INCLUSION

In [4]:
import random as r

2.PARAMETER SETTING

In [5]:
Set = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
setlb=3
setub=6
iterations=1000
resultset=set()

3.RUN THE PROGRAM

In [6]:
for i in range(iterations):
    size=r.randint(setlb,setub)
    n=r.sample(Set,size)
    n.sort()
    if sum(n)==0:
        resultset.add(tuple(n))
for n in resultset:
    print(n)
print("TOTAL NUMBER OF SUBSETS ARE:",len(resultset))

(-6, -5, 11)
(-4, -2, 6)
(-6, -4, 1, 9)
(-4, -3, -2, 2, 7)
(-7, -3, -2, 3, 9)
(-12, -8, -3, 3, 9, 11)
(-3, 1, 2)
(-8, -7, -3, 1, 6, 11)
(-7, -5, 1, 11)
(-5, -3, -2, 1, 9)
(-12, 3, 9)
(-8, 1, 7)
(-7, 1, 6)
(-7, -4, 11)
(-9, -6, 6, 9)
(-8, -2, 3, 7)
TOTAL NUMBER OF SUBSETS ARE: 16